.search-bg {
  height: 100vh;
  background-image: url("https://2.bp.blogspot.com/-JUEJOnPao-Q/V5vgQGTlJ5I/AAAAAAAAK_g/WHEV_dUL4ZcM5tMCRiJgt2ETOHDVf655QCLcB/s1600/batman%2Bgif%2B1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar-container {
  width: 85% !important;
}

@media screen and (min-width: 992px) {
  .search-bar-container {
    width: 40% !important;
  }
}
