.row-bg {
  background-color: #f2f2f2;
}

.card--body {
  background-color: #eeeeee;
}

.chart-container {
  width: 100%;
  height: 350px;
}

.mybtn {
  width: 100%;
  margin-top: 6px;
}

.mybtn--detail {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .mybtn {
    width: initial;
  }
  .mybtn--detail {
    width: 50%;
  }
  .chart-container {
    height: 100%;
  }
}
