.login-bg {
  height: 100vh;
  background-image: url("https://cdn.dribbble.com/users/3911518/screenshots/11294230/media/c40ee1a764a5219e5866cc871fbcb9ae.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 85%;
  color: white;
}

@media screen and (min-width: 992px) {
  .login-container {
    width: 35%;
  }
}
